@charset "UTF-8";

:root {
    --fonte-padrao: Verdana, Geneva, Yahoma, sans-serif;
    --fonte-0: 'Special Elite', cursive;
}


* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100%;
    font-family: var(--fonte-padrao);
}

body {
    background-color: white;
    background-size: cover;
}

header {
    color: black;
    text-align: center;
    font-family: var(--fonte-0);
    text-transform: uppercase;
    box-shadow: 0px 0px 7px black;
    margin-bottom: 50px;
}

header > h1 {
    padding-top: 20px;
    text-transform: uppercase;
}

header > p {
    padding-bottom: 20px; 
}

header a , footer a {
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

a:hover {
    color: darkred;
}

main {
    max-width: 1000px;
    margin: auto;

    /* efeito de borda */
     
    border: 5px solid black;
    box-shadow: 5px 5px 0px black;
}  


section {
    
    margin: auto;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 10%;
    font-family: var(--fonte-0);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;

    
}

section > p {
    padding-bottom: 2em;    
    
    
}

section.normal {
    background-color: transparent;
    color: black;

}



section.image {
    color: white;
    box-shadow: inset 6px 6px 19px 0px rgb(0, 0, 0);
    background-size: cover; 
    background-attachment: fixed;

}

section.image > p {
    padding: 10px;
    display: inline-block;
    text-shadow: 2px 2px 0px black;
    background-color: rgba(0, 0, 0, 0.486);

}

section#img1 {
    background-image: url(img/flor-coracao.webp);
    background-position: center right;
    
}

section#img2 {
    background-image: url(img/carta.webp);
    background-position: center right;
}


footer {
    color: black;
    text-align: center;
    margin-top: 50px;
    padding: 30px;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.541);
}